<li class="side-header">Links</li>
<li><a href="/">Domov </a></li>
<li><a href="/o-mne/">About me</a></li>
<li><a href="/rss">RSS</a></li>


<li class="side-header">Sledujte ma</li>
<li><a href="https://twitter.com/faster" target="_blank">Twitter @faster</a></li>
<li><a href="https://about.me/matus.marcin" target="_blank">About.me</a></li>
